<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/styles/Site.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
    <title>@ViewBag.Title – Блог</title>
</head>
<body>
    <a name="top"></a>
    <header>
        <a class="logo" href="@Url.Action("Index", "Home")">
            <img class="logo" src="~/Content/images/logo.png" />
        </a>
        <p class="logo-text">My Blog</p>
    </header>
    <div class="cont">
        <div class="main-body">
            @RenderBody()
        </div>
        <div class="right-sidebar">
            <a class="nav-links" href="@Url.Action("Index", "Home")">Главная</a>
            <a class="nav-links" href="@Url.Action("Guest", "Home")">Гостевая</a>
            <a class="nav-links" href="@Url.Action("SurveyForm", "Home")">Анкета</a>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET <a id="anc" href="#top">Go to Top</a></p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
