<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/styles/Site.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
    <title>@ViewBag.Title – Блог</title>
</head>
<body>
    <a name="top"></a>
    <header>
        <a class="logo" href="@Url.Action("Index", "Home")">
            <img class="logo" src="~/Content/images/logo.png" />
        </a>
        <p class="logo-text">My Blog</p>
    </header>
    <div class="cont">
        <div class="main-body">
            @RenderBody()
        </div>
        <div class="right-sidebar">
            <a class="nav-links" href="@Url.Action("Index", "Home")">Главная</a>
            <a class="nav-links" href="@Url.Action("Index", "Guest")">Гостевая</a>
            <a class="nav-links" href="@Url.Action("Index", "Survey")">Анкета</a>
            @if (Request.Url.ToString().ToLower().Contains("home") || Request.Url.ToString().Length <= 23 )
            {
                <h3>Голосование</h3>
                <fieldset name="rad1">
                    <legend>Как вы думаете, когда люди будут жить на других планетах?</legend>
                    <input type="radio" name="rad1" value="Через 50 лет" />Через 50 лет <br />
                    <input type="radio" name="rad1" value="Через 50 лет" />Через 200 лет<br />
                    <input type="radio" name="rad1" value="Через 50 лет" />Через 1000 лет<br />
                    <input type="radio" name="rad1" value="Через 50 лет" />Скорей всего не скоро<br />
                </fieldset>
            }
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET <a id="anc" href="#top">Go to Top</a></p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
